$--font-color: #333;
$--color-primary: #10b3b3;
$--color-highlight: #0b7777;

.theme-cyan {
  --theme-color: #10b3b3;
  .subsystem-tit {
    font-size: 23px;
    line-height: 32px;
    margin-top: 3px;
    color: $--color-primary;
  }
  min-width: 1200px;
  background: #eff1f7;
  .el-pagination.is-background {
    .el-pager {
      li:not(.disabled).active {
        background: $--color-primary;
      }
    }
  }
  .app-content {
    padding: 90px 0 15px !important;
  }
  .el-switch.is-checked .el-switch__core {
    border-color: $--color-primary;
    background-color: $--color-primary;
  }

  // 文字元素
  a {
    &:hover {
      color: $--color-highlight !important;
    }
  }

  .txt-highlight {
    color: $--color-highlight !important;
  }

  .txt-grey {
    color: $--color-grey;
  }

  .txt-small {
    font-size: $--font-small;
  }

  .txt-red {
    color: $--color-danger !important;
  }

  .txt-success {
    color: $--color-success !important;
  }

  .txt-warning {
    color: $--color-warning !important;
  }

  .txt-danger {
    color: $--color-danger !important;
  }

  .el-button {
    &.el-button--primary {
      background: $--color-primary;
      border-color: $--color-primary;
    }
  }

  .el-step {
    &.is-error {
      .el-step__head {
        color: $--color-danger !important;
      }

      .el-step__main {
        .el-step__title,
        .el-step__description {
          color: $--color-danger !important;
        }
      }
    }
  }

  .el-alert--primary {
    background-color: #f2f8fe !important;
    color: $--color-highlight !important;
  }

  .box-card {
    &.news-list {
      .item {
        line-height: 32px;
        cursor: pointer;

        &:hover {
          color: $--color-highlight;
        }
      }
    }
  }

  .xrzh-alert {
    padding: 20px !important;

    .el-message-box__content {
      padding: 0;

      .el-message-box__status {
        &.el-icon-error {
          color: $--color-danger;
        }

        &.el-icon-success {
          color: $--color-success;
        }

        &.el-icon-warning {
          color: $--color-warning;
        }
      }
    }
  }

  //组件样式
  .app-header {
    padding: 0;

    .navbar {
      height: 60px;
      overflow: hidden;
      position: relative;
      color: $--font-color;
      box-shadow: 0px 1px 4px 0px rgba(0, 21, 41, 0.12);
      z-index: 1;

      .webTitle {
        // padding-top: 5px;
        padding-left: 20px;

        .el-image {
          margin-right: 10px;

          .el-image__inner {
            vertical-align: middle;
          }
        }

        h5 {
          font-size: 16px;
          font-weight: bold;
        }
      }

      .el-menu-demo {
        padding-left: 45px;
      }
    }

    .navbar-top-links {
      padding-top: 5px;

      li {
        float: left;
        margin-right: 15px;
        line-height: 50px;
      }

      .input-search {
        .el-button {
          background: $--color-primary;
          padding: 12px;
          color: #fff;
        }
      }
    }
  }

  .app-container {
    .app-siderbar {
      transition: width 0.28s;
      width: 220px !important;
      background-color: #fff;
      height: calc(100% - 50px);
      position: fixed;
      top: 50px;
      bottom: 0;
      left: 0;
      z-index: 1001;
      overflow-y: auto;

      .el-image {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-right: 10px;
      }

      .el-submenu {
        .el-submenu__title {
          color: #222;
          font-weight: 600;
          padding-left: 10px !important;
          height: 60px;
          line-height: 60px;
          background-color: #fff;
          .el-submenu__icon-arrow,
          .iconfont {
            color: #6f727a !important;
            font-weight: 400;
          }

          &:hover {
            background-color: #fff;
            color: $--color-highlight !important;
          }

          & + .el-menu {
            background-color: #fff;

            .el-menu-item {
              &.is-active {
                background: #e6edfa;
                color: $--color-highlight !important;
                font-weight: 600;
              }
            }
          }
        }

        &.is-opened {
          .el-submenu__title {
            background-color: #fff;
            color: #222;
            font-weight: 600;
          }
        }

        .el-menu {
          padding: 0;

          .el-menu-item {
            padding-left: 38px !important;
            padding-right: 15px;
            height: 40px;
            line-height: 40px;
            color: #222;
          }

          &.el-menu--inline {
            .el-menu-item {
              .el-image {
                display: none;
              }
            }
          }
        }
      }

      .el-menu {
        background-color: #fff;
        border-right: 0;
        padding: 0 0 10px 0;

        .el-submenu__title:focus {
          color: $--color-highlight;
        }

        .el-menu-item {
          color: #6f727a !important;
          padding-left: 10px !important;
          height: 60px;
          line-height: 60px;
          font-weight: 600;

          .iconfont {
            color: #6f727a !important;
            font-weight: 400;
          }
          &:focus {
            color: $--color-highlight;
            background-color: #e6edfa;
          }

          &:hover {
            background: #e6edfa !important;
          }

          &.is-active {
            background: #e6edfa;
            color: $--color-highlight !important;
            font-weight: 600;
          }
        }
        .router-link-exact-active {
          .el-menu-item {
            color: $--color-highlight;
            font-weight: 600;
            color: #222 !important;
          }
        }
      }
    }

    // when menu collapsed
    .el-menu--vertical {
      .nest-menu .el-submenu > .el-submenu__title,
      .el-menu-item {
        background: #fff;
        color: #222;

        &:hover {
          //background: #000;
          color: $--color-highlight;
        }
      }
    }

    .tags-view-container {
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-left: 235px;
      background: #f5f3fb;

      .el-breadcrumb {
        padding: 15px 0;
      }

      .el-collapse-item__content {
        padding: 0;
      }

      margin-bottom: 15px;

      .serives-wrap {
        overflow: hidden;

        li {
          float: left;
          margin-right: 15px;
          margin-bottom: 15px;

          .el-tag {
            width: 160px;
            text-align: center;
            height: auto;
            font-size: $--font-main;
            cursor: pointer;
            padding: 0;

            a {
              padding: 12px 0;
              color: $--color-primary;
              display: block;
              transition: 0.3s;
              border-radius: 4px;

              &.active {
                background: #fff;
                color: $--font-color;
              }
            }
          }
        }
      }
    }

    .tags-view-wrapper {
      overflow: hidden;
      background: #fff;
      margin-bottom: 15px;
      height: 45px;
      padding: 2px 2px 0 2px;

      .el-scrollbar__wrap {
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        width: 100%;
      }

      .tags-view-item {
        display: inline-block;
        min-width: 80px;
        line-height: 40px;
        height: 40px;
        position: relative;
        margin-left: -1px;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 1px;
          height: 20px;
          top: 10px;
          background: #eff1f7;
          left: -1px;
        }

        a {
          display: block;
          padding: 0 40px 0 20px;
          color: $--color-grey;

          &.active {
            background: #eff1f7;
            color: $--color-primary;

            &::before {
              display: none;
            }
          }
        }

        .el-icon-close {
          color: $--color-grey;
          position: absolute;
          right: 10px;
          display: block;
          top: 15px;
          cursor: pointer;
        }
      }
    }
    &.layout1 {
      .app-content-main {
      }

      .webTitle {
        padding-top: 10px;
      }

      .tags-view-container {
        padding-left: 235px;
        background: #f5f3fb;
      }
    }

    &.layout2 {
      .tags-view-container {
        padding: 0 20px;
        background: #fff;
      }
    }
  }
  .tle {
    &::before {
      background: $--color-primary !important;
    }
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $--color-primary;
    border-color: $--color-primary;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $--color-primary;
  }
  .el-radio__input.is-checked + .el-radio__label {
    color: $--color-primary;
  }
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $--color-primary;
    background: $--color-primary;
  }
  .app-header {
    .navbar {
      overflow: hidden;
      position: relative;
      color: #333333 !important;
      box-shadow: 0px 1px 4px 0px rgba(0, 21, 41, 0.12);
      height: 50px !important;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .webTitle {
        height: 50px !important;
        line-height: 50px !important;
        display: flex;
        align-items: center;
        color: #333333 !important;
        img {
          margin-right: 8px;
        }
      }
      .let-menu {
        font-size: 20px;
        padding-left: 10px;
      }
      .el-button.el-button--text {
        color: #333;
      }
      .sub-system {
        display: flex;
        align-items: center;
        padding-left: 24px;
        .item {
          height: 36px;
          line-height: 36px;
          font-size: 18px;
          padding-left: 16px;
          padding-right: 24px;
          font-weight: 400;
          color: #ffffff;
          cursor: pointer;
        }
        .item.active {
          background: rgba(255, 255, 255, 0.18);
          border-radius: 3px;
          font-weight: 800;
        }
      }
      .navbar-right {
        color: #ffffff;
        font-size: 14px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .displayIbk {
          color: #ffffff;
          font-size: 14px;
          margin-left: 16px;
        }
        .logout {
          font-size: 20px;
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
    .navbar-top-links {
      padding-top: 0px !important;
      li {
        display: inline-block;
        margin-right: 15px;
        line-height: 50px;
      }
    }
    .tags-view-container {
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      width: 100%;
      padding: 0 15px 0 235px;
      background: #f3f4fb;
      .el-breadcrumb {
        padding: 10px !important;
        line-height: 20px;
        /* background: #fff; */
      }
    }
  }
}

.bg {
  &:hover {
    background-color: #e8f3ff;
  }
  &.active {
    background-color: #d0e7ff;
  }
}
